<nav class="py-4 px-4 bg-indigo-700 text-white">
  <ul class="container mx-auto flex justify-between items-center">
    <li class="text-[36px] font-bold">
      <a routerLink="/">Hoang blogs</a>
    </li>

    <li class="flex gap-5 items-center">
      <span>
        <a routerLinkActive=" text-lg font-bold" routerLink="/blogs"
          >All posts</a
        >
      </span>
      <span *ngIf="!user()">
        <a routerLinkActive="scale-110 font-bold" routerLink="/register"
          >Register</a
        >
      </span>

      <span *ngIf="!user()">
        <a routerLinkActive="scale-110 font-bold" routerLink="/login">Login</a>
      </span>
      <span *ngIf="user()">
        <a routerLinkActive=" text-lg font-bold" routerLink="/profile">{{
          user()?.fullname
        }}</a>
      </span>
      <span *ngIf="user()" class="cursor-pointer" (click)="onLogout()">
        Logout
      </span>
    </li>
  </ul>
</nav>
