<nav class="py-4 px-4 bg-indigo-700 text-white">
  <ul class="container mx-auto flex justify-between items-center">
    <li class="text-[36px] font-bold">
      <a routerLink="/home">Hoang blogs</a>
    </li>

    <li class="flex gap-5 items-center">
      <span>
        <a routerLinkActive=" text-lg font-bold" routerLink="/blogs"
          >All posts</a
        >
      </span>
      <span>
        <a routerLinkActive="scale-110 font-bold" routerLink="/register"
          >Register</a
        >
      </span>
      <span>
        <a routerLinkActive="scale-110 font-bold" routerLink="/login">Login</a>
      </span>
      <span>
        <a routerLinkActive="scale-110 font-bold" routerLink="/logout"
          >Logout</a
        >
      </span>
    </li>
  </ul>
</nav>
