/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply border-2 border-slate-200 rounded-md shadow-sm p-2 focus:outline focus:outline-2 focus:outline-slate-400;
  }
}

* {
  box-sizing: border-box;
}
h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

input.ng-touched.ng-invalid {
  outline: 2px solid red;
}
